@use "../../styles/responsive.scss" as *;

.homeBanner {
  position: relative;
  .homeBanner-img {
    img {
      width: 100%;
      height: 100vh;
      filter: brightness(0.6);
      object-fit: cover;
    }
  }

  .homeBanner-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h1 {
      color: #fff;
      text-align: center;
      font-size: 60px;
      margin-bottom: 10px;
    }

    .homeBanner-desc-item {
      display: flex;
      justify-content: center;

      .homeBanner-desc-item-cards {
        background: #ffffff67;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;

        @include lg {
          grid-template-columns: repeat(4, 1fr);
        }

        @include md {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        }
        .homeBanner-desc-item-card {
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &.active {
            background: #3bad4b;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }

          img {
            width: 70px;
            border-radius: 50%;
            padding: 10px;
            background: #fff;
          }

          p {
            font-weight: bold;

            @include sm{
              font-size: 14px;
              text-align: center;
            }
          }
        }
      }
    }

    .homeBanner-desc-item-inputs {
      display: flex;
      justify-content: center;
      gap: 5px;
      background: #1a58b47c;
      width: fit-content;
      border-radius: 10px;
      margin: 20px auto auto;
      padding: 20px 10px;

      @include lg {
        flex-direction: column;
        width: 80%;
      }

      @include md{
        width: 95%;
      }

     
      input {
        padding: 15px;
        font-size: 16px;
        outline: none;
        border-radius: 5px;
        border: none;
      }

      .custom-select {
        position: relative;
        width: 100%;

        select {
          width: 100%;
          padding: 10px;
          height: 100%;
          font-size: 16px;
          appearance: none;
          border: 1px solid #ccc;
          border-radius: 5px;
          background: white;
          cursor: pointer;
          padding-right: 50px;
          outline: none;
        }

        .select-icon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          color: #555;
        }
      }

      button {
        background: #3bad4b;
        border: none;
        white-space: nowrap;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        border: 1px solid #3bad4b;

        &:hover {
          border: 1px solid #ffa500;
        }
      }
    }
  }
}
