@use "../../styles/responsive.scss" as *;

.trend {
  padding: 0px 5px;
  .trend-top {
    text-align: center;
    h1 {
      font-size: 30px;
      font-weight: 500;
      position: relative;
      display: inline-block;

      @include sm {
        font-size: 25px;
      }

      &::after {
        content: "";
        position: absolute;
        background: #3bad4b;
        height: 6px;
        border-radius: 5px;
        width: 200px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
      }
    }
    p {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 40px;
      margin-top: 20px;
      font-size: 18px;
      color: #585858;

      @include lg {
        width: 80%;
      }
      @include sm {
        width: 95%;
      }
    }
  }

  .trend-container {
    .trend-container-top {
      span {
        display: inline-block;
        padding: 10px 30px;
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;

        &.active {
          background: #3bad4b;
          color: #fff;
        }
      }
    }
    .trend-container-section {
      padding: 30px 50px;
      background: #def6e5;

      @include lg {
        padding: 30px;
      }

      @include md {
        padding: 10px;
      }

      .trend-section-button {
        display: flex;
        justify-content: center;
        button {
          background: #61b54e;
          border: none;
          padding: 10px 15px;
          font-size: 16px;
          color: #fff;
          cursor: pointer;
          border-radius: 5px;
          margin-top: 20px;
          transition: all 0.3s ease-in-out;

          @include lg {
            margin-top: 10px;
          }

          &:hover {
            transform: translateY(-2px);
          }

          &:active {
            transform: scale(1.08);
          }
        }
      }

      .trend-container-cards {
        display: flex;
        justify-content: space-between;
        .trend-container-card {
          border: 1px solid #dddddd;
          cursor: pointer;

          &:hover {
            .trend-container-card-desc {
              p {
                border-bottom: 1px solid #000;
                color: #000;
              }
            }
          }
          img {
            width: 100%;
          }
          .trend-container-card-desc {
            text-align: center;
            p {
              text-align: center;
              margin: 10px 0px;
              display: inline-block;
              color: #12203c;
              border-bottom: 1px solid #def6e5;
            }
          }
        }
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  color: white;
}
