@use "../../styles/responsive.scss" as *;

.service {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 10px;
  .service-top {
    text-align: center;
    h1 {
      font-size: 30px;
      font-weight: 500;
      position: relative;
      display: inline-block;
      color: $secondary-color;

      @include sm{
        font-size: 25px;
      }

      &::after {
        content: "";
        position: absolute;
        background: $primary-color;
        height: 6px;
        border-radius: 5px;
        width: 200px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
      }
    }
    p {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 40px;
      margin-top: 20px;
      font-size: 18px;
      color: #585858;

      @include lg{
        width: 95%;
      }
    }
  }

  .service-cards {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

    @include lg{
    grid-template-columns: repeat(3,1fr);

    }

    @include md{
      grid-template-columns: repeat(2,1fr);
  
      }

      @include sm{
        grid-template-columns: repeat(1,1fr);
    
        }

    .service-card {
      background: #c7c1e1;
      padding: 20px 20px 45px 20px;
      border-radius: 0px 100px 0px 0px;
      min-height: 271px;
      cursor: pointer;

      img {
        border-radius: 50%;
        padding: 20px;
        width: 100px;
      }

      p {
        background: #fff;
        padding: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-left: -20px;
        padding-left: 20px;
        width: 80%;
        border-radius: 0px 20px 20px 0px;
        cursor: pointer;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        
        li {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          display: flex;
          align-items: center;
          cursor: pointer;
          display: flex;
          align-items: center;

          span {
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.3s ease-in-out;
           

            &:hover {
              border-bottom: 1px solid #000;
            }
          }

          .check-icon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
