@use "../../styles/responsive.scss" as *;

.connect {
  background: #def6e5;
  text-align: center;
  padding: 50px;

  @include md {
    padding: 30px 10px;
  }

  h1 {
    font-weight: bold;

    @include sm {
      font-size: 25px;
    }
  }

  p {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: #585858;

    @include lg {
      width: 95%;
    }
  }

  .connect-btns {
    display: flex;
    gap: 10px;
    justify-content: center;

    button {
      background: $primary-color;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-4px);
      }

      &:last-child {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 30px;
          height: auto;
          border-radius: 50%;
        }
      }
    }
  }
}
