.designCategories {
  text-align: center;
  max-width: 1300px;
  margin: auto;

  h1 {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      background: #3bad4b;
      height: 6px;
      border-radius: 5px;
      width: 200px;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      bottom: -12px;
    }
  }
  .designCategories-p {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 18px;
    color: #585858;
  }

  .swiper {
    padding: 20px 0;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .designCategories-cards {
    .designCategories-card {
      width: 100%;
      max-width: 400px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
      img {
        width: 100%;
        height: auto;
      }

      p{
        margin: 20px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
